# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Road_of_Gold/example
/Road_of_Gold/Road_of_Gold
/Road_of_Gold/.vs/Road_of_Gold/v14
/Road_of_Gold/Road_of_Gold_log.html
/Road_of_Gold/.vs/Road_of_Gold/v15
/Road_of_Gold/ipch/ROAD_OF_GOLD-54c79198
/NodeMapMaker/example
/Road_of_Gold/NodeMapMaker
